.join-room-modal {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background: #ead083;
    border-radius: 10px;
    padding: 25px 40px 10px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
}

.join-room-modal__input {
    margin-bottom: 40px;
}

.join-room-modal__button {
    margin: 0 auto;
 }
