.button {
    display: inline-block;
    background: #ce2038;
    border-radius: 6px;
    text-align: center;
    color: white;
    outline: none;
    border: none;
    padding: 15px 45px;
    font-size: 19px;
    width: max-content;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0 10px 0 rgba(0,0,0,0);
}
