.health-bar {
  width: 574px;
  height: 39px;
  position: fixed;
  top: 85px;
  left: 200px;
}
.health-bar--flipped {
  transform: scaleX(-1);
  right: 200px;
  left: auto;
}


.health-bar__wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/public/images/health-bar.png');
  width: 100%;
  height: 100%;
}

.health-bar__progress-wrapper {
  width: 99%;
  height: 100%;
  -webkit-mask-image: url('/images/health-bar-progress-line.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  left: 1px;
  top: 0;
  transform: translateY(2px);
  display: flex;
  justify-content: flex-end;
}



.health-bar__progress-line {
  height: 100%;
  background-color: red;
}
